<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<table border="1">
    <tr>
        <th>상품 이름</th>
        <th>상품 가격</th>
        <th>상품 재고</th>
        <th>상품 브랜드</th>
    </tr>
    <tr th:object="${productVO}">
        <td th:text="*{productName}"></td>
        <td th:text="*{productPrice}"></td>
        <td th:text="*{productStock}"></td>
        <td th:text="*{productBrand}"></td>
    </tr>
</table>
</body>
</html>

<!--productName=샴푸&productPrice=10000&productStock=5&productBrand=엘라스틴-->