<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<form action="ex08_0" method="post">
        <input type="text" name="productName" placeholder="상품 이름">
        <input type="text" name="productPrice" placeholder="상품 가격">
        <input type="text" name="productStock" placeholder="상품 재고">
        <input type="text" name="productBrand" placeholder="상품 브랜드">
        <input type="submit" value="저장" style="width: 50%">
</form>
</body>
</html>

<!--productName=샴푸&productPrice=10000&productStock=5&productBrand=엘라스틴-->